[Unit]
Description=Misson software service

[Service]
Type=simple
Restart=on-failure
RestartSec=2
ExecStartPre=/bin/bash -c 'echo 0 > /home/debian/logs/state.txt'
ExecStart=/home/debian/MPM-Ion0-software/Ion/bin/flightmain
StandardOutput=append:/home/debian/logs/flightlog.log
StandardError=append:/home/debian/logs/flightlog.log

[Install]
WantedBy=multi-user.target
